<div class ='row m-3'>
    <div class="card m-2 p-2" style="width: 18rem;">
        <div class="card-header">
            Create Model
          </div>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Create a machine learning model with 3 simple steps</p>
        </div>
      </div>
      <div class="card m-2 p-2" style="width: 18rem;">
        <div class="card-header">
            Learn
          </div>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Learn all about machine learning models from the basic concepts to the advanced concepts.</p>
        </div>
      </div>
      <div class="card m-2 p-2" style="width: 18rem;">
        <div class="card-header">
            Your Models
          </div>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Download your previously saved models</p>
        </div>
      </div>
</div>